* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
}

body {
background-image:url("Background.png");
background-size:1500px 1155px;
  background-color: #000000;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#Background {
  /* position: fixed;
  right: 0;
  bottom: 0; */
  min-width: 100%;
  min-height: 100%;
}
p{
font-family: 'Playfair Display', serif;
  line-height: 2.0;

}


h1 {
font-family: 'Anton', sans-serif;
  text-align: center;
  color: #6bf725;
}

.contentRow {
  width: 800px;
  margin: 40px auto;
  position: relative;
  clear: both;
}


.textContainer {
  width: 600px;
  background-color: rgba(0,0,0,0.85);
  padding: 20px;
  margin-left: 250;
  display: inline-block;
  vertical-align: bottom;
}

.textContainer p {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.wideContainer {
  width: 800px;
}

.leftSide {
  position: absolute;
  left: 0px;
}

.rightSide {
  position: absolute;
  right: 0px;
}
